*.cpython-*
.env
node_modules/
.expo/
dist/
web-build/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
build/
.cache/
.pytest_cache/
htmlcov/
.coverage
tmp/
temp/